
<div class="p-3 px-5" style="background:#3F51B5;margin-top:100px">

    <div class="container mt-5">
        <div class="row">

          <div class="col">
            <a href="{{url_for('home')}}">
            <img src="\static\images\f-logo.png" class="img-fluid" alt="...">
            </a>
          </div>

          <div class="col">
            <ul class="fs-5" style="list-style-type:none;color:white" >
                <li><a href="{{url_for('platform')}}" style="text-decoration:none;color:white">Interviews</a></li>
                <li><a href="{{url_for('about')}}" style="text-decoration:none;color:white">About</a></li>
                <li><a href="{{url_for('blogs')}}" style="text-decoration:none;color:white">Blogs</a></li>
            </ul>
          </div>

          <div class="col">
            <ol class="fs-6" style="color:white">
                <li><a> Learn How our frameworks evaluate</a></li>
                <li><a> Improve your next interview with us</a></li>
                <li><a> Learn how to master art of interviewing</a></li>
                <li><a>  Know more about us....</a></li>
            </ol>
          </div>

        </div>

    </div>

    <hr style="height:2px;color:white;opacity:1">
    <span style="color:white">All right reserved</span>

    <span class="mx-5"style="color:white;font-size:7px;position:absolute;right:0">Palash Bajpai ©</span>

</div>